/* Iteration 1 | Extra Small Screen (width < 768px) */

@media (max-width: 768px) {
    body{
        margin: auto;
        border: 20px;

    }
    .logo-container{
        size: 10%;
        display: inline-block;
        position: fixed;
        justify-content: space-around;
    }
    .logo{
        size: 5%;
        display: inline-block;
    }
    .list-1{

    }
    .work{
        size: 10px;
    }
    h1{
        size: 10%;
    }
    .logos{
        size:10px;
    }

    }












 /* @media (max-width: 961px) and (min-width: 767px) {

  } */