/* Iteration 1 | Extra Small Screen (width < 768px) */

@media (max-width: 768px) {
    body{
        padding: 20px;

    }
    .container{
        size: 10%;
        display: flex;
        position: fixed;
        margin: 20px;
        border: 20px;
        padding: 20px;

    }
    header{
        padding: 80px;
        display: flex;
        width: 100%;
        display: flex;
    }
}











 /* @media (max-width: 961px) and (min-width: 767px) {

  } */